html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: black;
}

#root {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 10;
    width: 25%;
    height: 35%;
    border: 2px solid black;
}

#timer {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    width: 25%;
    height: 35%;
    font-size: 60px;
    color: white;
}

#info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: silver;
    border: 2px solid black;
}

#info button {
    margin: 4px;
    width: 24px;
    height: 24px;
}

#nickDiv {
    display: block;
    background-color: black;
    opacity: 0.7;
    z-index: 11;
    position: relative;
    height: 100%;
    color: white;
    display: none;
}

#nickAndScore {
    position: absolute;
    left: 42%;
    top: 4%;
    width: 100%;
    height: 100%;
    display: block;
}

#nickAndScore>input {
    display: block;
    width: 15%
}

#scoreBoard {
    position: absolute;
    border: solid green 2px;
    width: 45%;
    height: 70%;
    margin-top: 10px;
    left: -10%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#scoreBoard>p {
    margin: 0;
}

.picked {
    background-color: red;
}